@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* or contrast color */
  top: 50%;
  transform: translateY(-50%);
}
